/* App.css */

/* Style for the table container */
.table-container {
  margin-top: 20px;
}

/* Style for the table */
.table {
  margin-top:70px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

/* Style for table header (th) */
.table th {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* Style for table data (td) */
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* Style for even rows (alternating background color) */
.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
*{
  background-image: linear-gradient(#eef2ff, rgba(238, 242, 255, 0,9));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

h1{
  color:#1b2b8a;
  margin-bottom:50px;
  padding-bottom:50px;
  padding-top:50px;
  font-size:50px;
  border-radius:20px;
 cursor:pointer;
}
h4{
 color: #344298;
 margin-top:150px;
 font-size:20px;
 opacity:0.5;

}

h4,h1{
   position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
  display: block;
 margin-top:70px;
 border-radius:15px;
 background-color:#acb0c9;
 width:160px;
 height:40px;
 font-size:20px;
 color :#0e1541;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
 border-color:#b6beee;
 cursor:pointer;
}